/* .rightside{
  float: right;
}

.scrollto-top{
  position: fixed;
  top: auto;
  right: 2.5rem;
  bottom: 2.5rem;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.container{
  position: relative;
  width: 350px;
}
.photohover{
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  width: 350px;
}
.photohover1{
  position: absolute;
  top: 0;
  left: 0;
  width: 350px;
  height: 350px;
  display: none;
}
.container:hover .photohover1{
  background-color: white;
  display: flex;
} */
/* ----------------kaung wint shein------------------- */
#container-fluid-me{
  padding: 0;
}
.img_showcase_container{
  position: relative;
}
.img_hover_text{
  display: none;
  position: absolute;
  top: 0%;
  left: 0%;
  right: 0;
  bottom: 0;
}
.img_hover_text h1{
  position: absolute;
  font-size: 1.3rem;
  color: #181818;
  top: 50%;
  left: 30%;
}
.img_hover_text p{
  position: absolute;
  font-size: 0.95rem;
  color: #a5a5a5;
  top: 60%;
  left: 30%;
}
.img_showcase_container:hover .img_hover_text{
  background-color: #fff;
  display: block;
  opacity: 0.85;
  animation: bottomToMid 1s;
}
@keyframes bottomToMid{
  0%{
    top: 70%;
  }
  100%{
    top: 0%;
  }
}
@media (max-width: 756px){
  .img_hover_content{
    flex-wrap: wrap;
  } 
}